---
import Content from '../components/Content.astro'
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
---

<Layout title="Jeff Projects">
    <div class="relative min-h-screen w-full bg-slate-950 text-white">
        <div
            class="absolute bottom-0 left-0 right-0 top-0 bg-[radial-gradient(circle_500px_at_50%_200px,#3e3e3e,transparent)]"
        >
        </div>
        <main
            class="mx-auto min-h-screen max-w-7xl px-6 md:px-8 lg:px-12 z-10 relative grid grid-rows-[auto_1fr_auto] w-screen items-center"
        >
            <Header />
            <Content />
            <Footer />
        </main>
    </div>
</Layout>
